<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Bible Codes
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#/">Home</a>
                </li>
                <li class="active">Bible Codes</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
		<div class="row">
        <div class="col-sm-6">
		Ephod stones and tribes in order according to Torah
			<div class="row">
			   <div class="col-sm-4 beryl c3">
					וּבָרֶקֶת - beryl - לֵוִי - Levi
               </div>
			   <div class="col-sm-4 c2">
			      פִּטְדָה - chrysolite - שִׁמְעוֹן - Simeon
               </div>
			   <div class="col-sm-4 c1">
                  אֹדֶם - carnelian - רְאוּבֵן - Reuben
               </div>
            </div>
			<div class="row">
			   <div class="col-sm-4 c6">
			       וְיָהֲלֹם - emerald - יִשָּׂשכָר - Issachar
               </div>
			   <div class="col-sm-4 c5">
					סַפִּיר - lapis lazuli - זְבוּלֻן - Zebulun
               </div>
			   <div class="col-sm-4 c4">
					נֹפֶךְ - turquoise - יְהוּדָה - Judah
               </div>
            </div>
			<div class="row">
			   <div class="col-sm-4 c9">
			      וְאַחְלָמָה - amethyst - מֵאָשֵׁר - Asher
               </div>
			   <div class="col-sm-4 c8">
			       שְׁבוֹ - agate - גָּד  - Gad
               </div>
			   <div class="col-sm-4 c7">
					לֶשֶׁם - jacinth - דָּן - Dan 
               </div>
            </div>
			<div class="row">
			   <div class="col-sm-4 c12">
			       וְיָשְׁפֵה - jasper - בִּנְיָמִין - Benjamin
               </div>
			   <div class="col-sm-4 c11">
			        שֹׁהַם - onyx - יוֹסֵף - Joseph
               </div>
			   <div class="col-sm-4 c10">
					תַּרְשִׁישׁ - topaz - נַפְתָּלִי - Naphtali
               </div>
			</div>
		 </div>
		<div class="col-sm-6">
           
        </div>
    </div>
	</div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-12">
			
			 <h2>Chumash Page</h2>
                <p>Enter in value from 1's to 2000's</p>
                <input type="text" ng-model="query"/>
				<button ng-click="pageSearch()">Search</button>

				
				<div ng-repeat="x in resultList.verses">
	
				<h3>{{x}}</h3>
				<div class="row">
					<div class="col-sm-4">
					<span class="venglish" ng-repeat="ve in resultList.passages[$index]">{{ve.eng_verse}}</span>
					</div>
					<div class="col-sm-4">
					<span class="vtran" ng-repeat="vt in resultList.passages[$index]">{{vt.num_verse}} {{vt.tran_verse}} </span>
					</div>
					<div class="col-sm-4">
					<span class="vhebrew" ng-repeat="vh in resultList.passages[$index]"><B>{{vh.num_verse}}</B> {{vh.verse}}  </span>
					</div>
				</div>
				</div>
					

        </div>

    </div>
    <!-- /.row -->

    <!-- Service Tabs -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Tabbed Services</h2>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab">Service One</a>
                </li>
                <li><a href="#service-two" data-toggle="tab">Service Two</a>
                </li>
                <li><a href="#service-three" data-toggle="tab">Service Three</a>
                </li>
                <li><a href="#service-four" data-toggle="tab">Service Four</a>
                </li>
                <li><a href="#service-five" data-toggle="tab">Service Five</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">
                    <i class="fa fa-gear pull-left fa-4x"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <i class="fa fa-magic pull-left fa-4x"></i>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>
                </div>
                <div class="tab-pane fade" id="service-four">
                    <i class="fa fa-flask pull-left fa-4x"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                </div>
                <div class="tab-pane fade" id="service-five">
                    <i class="fa fa-flag pull-left fa-4x"></i>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Service Images</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service One</h3>

            <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service Two</h3>

            <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service Three</h3>

            <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam
                quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
